{% extends 'base.html' %}

{% block header %}
  <div class="row">
    <div class="col">
      <h4>{% block title %}{{court.name}}{% endblock %}</h4>
    </div>
    <div class="col">
      <div align=right>Last updated: <span class="datetime-string">{{last_updated}}</span> UTC</div>
    </div>
  </div>
{% endblock %}

{% block content %}

{% if full_jurors and full_jurors_stats %}
<div class="mt-3 mb-2" align="center">
  <button type="button" class="btn btn-primary cursor-clickable mb-3" id="toggle-full-stake-chart">Show Complete Jurors Stake Distribution</button>
  <div id="full-stake-chart" class="mb-3" style="display: none;">
    <canvas id="full-stake-pie" height="75px"></canvas>
  </div>
  <table class="table table-bordered responsive table-sm">
    <tr bgcolor='#7d5fc9'><td>Total Number Of Jurors</td><td>Average Stake</td><td>Median Stake</td></tr>
    <tr>
      <td>{{ full_jurors_stats['length']}}</td>
      <td>{{ full_jurors_stats['mean']}}</td>
      <td>{{ full_jurors_stats['median']}}</td>
    </tr>
  </table>
</div>
<div class="mt-2 mb-2">
  <table class="table table-bordered responsive table-sm">   
    <tr bgcolor="#9977f2"><td>Address</td><!-- <td>Date</td> --><td>Staking amount</td></tr>
    {% for juror in jurors %}
      <tr>
        <td><a href="https://etherscan.io/address/{{ juror['address'] }}">{{ juror['address'] }}</a></td>
        <!-- <td class="datetime-string">{{ juror['date'] }}</td> -->
        <td>{{ juror['staking_amount'] }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endif %}

<div class="mt-3 mb-2" align="center">
  <button type="button" class="btn btn-primary cursor-clickable mb-3" id="toggle-stake-chart">Show Jurors Stake Distribution</button>
  <div id="stake-chart" class="mb-3" style="display: none;">
    <canvas id="stake-pie" height="75px"></canvas>
  </div>
  <table class="table table-bordered responsive table-sm">
    <tr bgcolor='#7d5fc9'><td>Total Number Of Jurors</td><td>Average Stake</td><td>Median Stake</td></tr>
    <tr>
      <td>{{ jurors_stats['length']}}</td>
      <td>{{ jurors_stats['mean']}}</td>
      <td>{{ jurors_stats['median']}}</td>
    </tr>
  </table>
</div>
<div class="mt-2 mb-2">
  <table class="table table-bordered responsive table-sm">   
    <tr bgcolor="#9977f2"><td>Address</td><td>Date</td><td>Staking amount</td></tr>
    {% for juror in jurors %}
      <tr>
        <td><a href="https://etherscan.io/address/{{ juror['address'] }}">{{ juror['address'] }}</a></td>
        <td class="datetime-string">{{ juror['date'] }}</td>
        <td>{{ juror['staking_amount'] }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
<p><hr/></p>
<div class="mt-3 mb-2">
    <table class="table table-bordered responsive table-sm">
      <tr bgcolor="#9977f2">
        <td>ID</td>
        <td>
          Ruling <i class="fa fa-question-circle cursor-help" 
            title="0: Refuse to arbitrate <br/> 1: Yes <br/> 2: No"
            data-toggle="tooltip" data-placement="right" aria-hidden="true"></i>
        </td>
        <td>Final</td>
        <td>Creator</td>
        <td>Creation Date</td>
      </tr>
      {% for dispute in disputes %}
          <tr bgcolor={{'#90EE90' if dispute.ruled else '#FFFCBB'}}>
            <td><a href="{{ url_for('dispute', id = dispute.id) }}">{{ dispute.id }}</a></td>
            <td>{{dispute.current_ruling}}</td>
            <td>{{'Yes' if dispute.ruled else 'No'}}</td>
            <td>
              <a href="https://etherscan.io/address/{{dispute.created_by}}">{{dispute.created_by[:12]}}...</a>&nbsp;
              <a href="https://etherscan.io/tx/{{dispute.created_tx}}">[txid]</a>&nbsp;
            </td>
            <td>{{dispute.created_date}}</td>
          </tr>
      {% endfor %}
    </table>
</div>

<script type="text/javascript">
  $( document ).ready(function() {
    {% if full_jurors %}
      let is_full_chart_initialised = false;
      let is_full_stake_chart_displayed = false;
      $("#toggle-full-stake-chart").click(function() {
        is_full_stake_chart_displayed = !is_full_stake_chart_displayed;
        if (is_full_stake_chart_displayed === true) {
          if (is_full_chart_initialised === false) {
            initFullChart();
            is_full_chart_initialised = true;
          }
          $("#full-stake-chart").show();
          $(this).html("Hide Complete Jurors Stake Distribution");
        } else {
          $("#full-stake-chart").hide()
          $(this).html("Show Complete Jurors Stake Distribution");
        };
      });

      function initFullChart() {
        var total = {% for juror in full_jurors %}{{ juror['staking_amount'] }}+{% endfor %}0;

        var config = {
          type: 'doughnut',
          data: {
            datasets: [{
              data: [
                {% for juror in full_jurors %}
                  {{ juror['staking_amount'] }},
                {% endfor %}
              ],
              backgroundColor: [
                {% for juror in full_jurors %}
                  randomColor(),
                {% endfor %}
              ]
            }],
            labels: [
              {% for juror in full_jurors %}
                "{{ juror['address'] }}",
              {% endfor %}
            ]
          },
          options: {
            responsive: true,
            legend: {
              display: false,
            },
            tooltips: {
              enabled: true,
              mode: 'single',
              callbacks: {
                label: function(tooltipItem, data) {
                  var allData = data.datasets[tooltipItem.datasetIndex].data;
                  var tooltipLabel = data.labels[tooltipItem.index];
                  var tooltipData = allData[tooltipItem.index];
                  let percentage = (tooltipData*100 / total).toFixed(2);
                  return tooltipLabel + ": " + tooltipData +  " ("  + percentage + "%)";
                }
              }
            }
          }
        };

        var ctx = document.getElementById('full-stake-pie').getContext('2d');
        window.myFullPie = new Chart(ctx, config);
      }
    {% endif %}

    let is_chart_initialised = false;
    let is_stake_chart_displayed = false;
    $("#toggle-stake-chart").click(function() {
      is_stake_chart_displayed = !is_stake_chart_displayed;
      if (is_stake_chart_displayed === true) {
        if (is_chart_initialised === false) {
          initChart();
          is_chart_initialised = true;
        }
        $("#stake-chart").show();
        $(this).html("Hide Jurors Stake Distribution");
      } else {
        $("#stake-chart").hide()
        $(this).html("Show Jurors Stake Distribution");
      };
    });

    function initChart() {
      var total = {% for juror in jurors %}{{ juror['staking_amount'] }}+{% endfor %}0;

      var config = {
        type: 'doughnut',
        data: {
          datasets: [{
            data: [
              {% for juror in jurors %}
                {{ juror['staking_amount'] }},
              {% endfor %}
            ],
            backgroundColor: [
              {% for juror in jurors %}
                randomColor(),
              {% endfor %}
            ]
          }],
          labels: [
            {% for juror in jurors %}
              "{{ juror['address'] }}",
            {% endfor %}
          ]
        },
        options: {
          responsive: true,
          legend: {
            display: false,
          },
          tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
              label: function(tooltipItem, data) {
                var allData = data.datasets[tooltipItem.datasetIndex].data;
                var tooltipLabel = data.labels[tooltipItem.index];
                var tooltipData = allData[tooltipItem.index];
                let percentage = (tooltipData*100 / total).toFixed(2);
                return tooltipLabel + ": " + tooltipData +  " ("  + percentage + "%)";
              }
            }
          }
        }
      };

      var ctx = document.getElementById('stake-pie').getContext('2d');
      window.myPie = new Chart(ctx, config);
    }

    function randomColor() {
      var r = Math.floor(Math.random() * 155) + 100;
      var g = Math.floor(Math.random() * 155) + 100;
      var b = Math.floor(Math.random() * 155) + 100;
      return "rgb(" + r + "," + g + "," + b + ")";
    }
  });
</script>
{% endblock %}
