{% extends 'base.html' %}

{% block header %}
  <div class="row">
    <div class="col">
      <h4>{% block title %}Disputes{% endblock %}</h4>
    </div>
    <div class="col">
      <div align=right>Last updated: <span class="datetime-string">{{last_updated}}</span> UTC</div>
    </div>
  </div>

  <style type="text/css">
    .dataTables_filter, .dataTables_info { display: none; }
    p { margin-bottom: 5px; }
    td {
      color: #808080;
    }
  </style>
{% endblock %}

{% block content %}
<div class="row mb-3 mt-1">
  <div class="col">
    <input type="text" class="form-control" id="search-dispute" placeholder="Search by dispute ID / Court Name / Date / Anything!">
  </div>
</div>
<div>
  <table id="disputes-table" class="table table-hover table-responsive display responsive no-wrap" width="100%">
    <thead>
      <tr>
          <th class="text-uppercase">
            ID <i class="fa fa-question-circle cursor-help ml-1" 
            title="Dispute unique ID, click it for vote and jurors information"
            data-toggle="tooltip" data-placement="right" aria-hidden="true"></i></th>
          <th class="text-uppercase">
            Court <i class="fa fa-question-circle cursor-help ml-1" 
            title="Find staking distribution and list of related dispute by clicking on any court name"
            data-toggle="tooltip" data-placement="right" aria-hidden="true"></i></th>
          <th class="text-uppercase">
            Ruling <i class="fa fa-question-circle cursor-help ml-1" 
            title="0: Refuse to arbitrate <br/>1: Option 1 <br/> 2: Option 2"
            data-toggle="tooltip" data-placement="right" aria-hidden="true"></i>
          </th>
          <th class="text-uppercase">
            Dispute Status</th>
          <th class="text-uppercase">
            Creator <i class="fa fa-question-circle cursor-help ml-1" 
            title="Dispute creator public address and TXID, in most cases, it's the challenger"
            data-toggle="tooltip" data-placement="right" aria-hidden="true"></i></th>
          <th class="text-uppercase">
            Date  <i class="fa fa-question-circle cursor-help ml-1" 
            title="Timestamp of the dispute creation"
            data-toggle="tooltip" data-placement="right" aria-hidden="true"></i></th>
      </tr>
    </thead>
    <tbody>
      {% for dispute in disputes %}
      <tr onclick="window.location='{{ url_for('dispute', id = dispute.id) }}'" style="cursor: pointer">
        <td class="text-center"><a href="{{ url_for('dispute', id = dispute.id) }}">{{ dispute.id }}</a></td>
        <td><a href="{{ url_for('court', id = dispute.subcourt_id)}}">{{dispute.court_name}}</td>
        <td>{{dispute.current_ruling}}</td>
        <td>{{'Case Closed' if dispute.ruled else 'Ongoing'}}</td>
        <td>
          <a href="https://etherscan.io/address/{{dispute.created_by}}">{{dispute.created_by[:12]}}...</a>&nbsp;
          <a href="https://etherscan.io/tx/{{dispute.created_tx}}">[txid]</a>
        </td>
        <td>{{dispute.created_date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script type="text/javascript">
  $(document).ready(function () {
      let table_disputes = $('#disputes-table').DataTable({
        scrollY:        "400px",
        scrollCollapse: true,
        paging:         false,
        info: false,
        order: [[ 0, "desc" ]]

      });
      $('#search-dispute').keyup(function(){
        table_disputes.search($(this).val()).draw() ;
      })
  });

</script>

{% endblock %}
