{% extends 'base.html' %}

{% block header %}
  <div class="row">
    <div class="col">
      <h4>{% block title %}Dispute #{{ dispute['id']}}{% endblock %}</h4>
    </div>
    <div class="col">
      <div align=right>Last updated: <span class="datetime-string">{{last_updated}}</span> UTC</div>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div>
    <table class="table table-bordered responsive table-sm">

      <tr><td align="center">Dispute Status</td><td align="center">Period</td><td align="center">Last Period Change</td></tr>
      <tr bgcolor={{'#90EE90' if dispute.ruled else '#FFFCBB'}}>
        <td align="center">{{'Case Closed' if dispute.ruled else 'Ongoing'}}</td>
        <td align="center">{{dispute.period_name}}</td>
        <td align="center"><span class="datetime-string">{{last_period_change}}</span> UTC</td>
      </tr>

    </table>
  </div>
  <div class="mb-5">
    {% for r in dispute.rounds: %}
    <table class="table table-bordered responsive table-sm">
      <tr bgcolor="#9977f2"><td>Round {{r.round_num}} - {{ 'Majority reached' if r.majority_reached else 'No majority' }}</td><td align="center">Vote</td></tr>
      {% for v in r.votes %}
        <tr bgcolor={{v.color}}>
          <td><a href="https://etherscan.io/address/{{v.account}}">{{v.account}}</a></td>
          <td align="right">{{ v.vote_str }}</td>
        </tr>
      {% endfor %}
    </table>
    {% endfor %}
  </div>
  <div align="center">
  <button type="button" class="btn btn-primary cursor-clickable mb-3"
  button onclick="window.location.href = 'https:court.kleros.io/cases/{{ dispute['id']}}';">Check this Case on Kleros</button>
  </div>
{% endblock %}
