{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Disputes{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table border=1>
    <tr><td>ID</td><td>Court</td><td>Ruling</td><td>Final</td><td>Creator</td><td>Creation Date</td></tr>
    {% for dispute in disputes %}
        <tr bgcolor={{'#90EE90' if dispute.ruled else '#FFFCBB'}}>
          <td><a href="{{ url_for('dispute', id = dispute.id) }}">{{ dispute.id }}</a></td>
          <td><a href="{{ url_for('court', id = dispute.subcourt_id)}}">{{dispute.court_name}}</td>
          <td>{{dispute.current_ruling}}</td>
          <td>{{'Yes' if dispute.ruled else 'No'}}</td>
          <td>
            <a href="https://etherscan.io/address/{{dispute.created_by}}">{{dispute.created_by[:12]}}...</a>&nbsp;
            <a href="https://etherscan.io/tx/{{dispute.created_tx}}">[txid]</a>&nbsp;
          </td>
          <td>{{dispute.created_date}}</td>
        </tr>
    {% endfor %}
  </table>
  <h1>Kleros Scan Explainer</h1>
  <h4>ID : Case number, you can check the corresponding dispute by navigating to court.kleros.io/cases/CASE_ID</h4>
  <h4>Court : Corresponding Kleros Court, you can click on any court and you'll get a list of all disputes from the Court</h4>
  <h4>Ruling : 0 means "Refuse to arbitrate", 1 means "Yes", 2 means "No"</h4>
  <h4>Final : Indication of dispute resolution status, "Yes" means case closed, "No" means pending resolution or possibility of appeal</h4>
  <h4>Creator : Public adress and transaction link of the dispute creation</h4>
  <h4>Creation Date : Timestamp of the dispute creation</h4> 
  <h4>Colors : Green mean case closed, yellow mean ongoing dispute </h4>
  <div align=right>Last updated: {{last_updated}} UTC</div>

{% endblock %}