{% extends 'base.html' %}

{% block header %}
  <div class="row">
    <div class="col">
      <h4>{% block title %}<a href="https://etherscan.io/address/{{ address }}">Juror {{ address }}</a>{% endblock %}</h4>
    </div>
    <div class="col">
      <div align=right>Last updated: <span class="datetime-string">{{last_updated}}</span> UTC</div>
    </div>
  </div>
{% endblock %}

{% block content %}

<h2>Disputes Created</h2>
<div class="mb-5">
  <table class="table table-bordered responsive table-sm">
    <tr><td>Dispute</td><td>Date</td><td>TxID</td></tr>
    {% for d in disputes: %}
    <tr>
      <td><a href={{ url_for('dispute', id= d.id) }}>Dispute {{d.id}}</a></td>
      <td>{{ d.created_date }}</td>
      <td><a href="https://etherscan.io/tx/{{ d.created_tx }}">{{d.created_tx}}</a></td>
    </tr>
    {% endfor %}
  </table>
</div>

<h2>Stakings events monitor</h2>
<div class="mb-5">
  <table class="table table-bordered responsive table-sm">
    <tr><td>Date</td><td>Court</td><td>Amount</td><td>TxID</td></tr>
    {% for s in stakes: %}
      <tr>
        <td>{{s[0].staking_date}}</td>
        <td><a href="{{ url_for('court', id=s[1].id )}}">{{s[1].name}}</a></td>
        <td>{{s[0].staking_amount}}</td>
        <td><a href="https://etherscan.io/tx/{{s[0].txid}}">{{s[0].txid}}</a></td>
      </tr>
    {% endfor %}
  </table>
</div>

<h2>Votes</h2>
<div class="mb-5">
  <table class="table table-bordered responsive table-sm">
    <tr><td>Dispute</td><td>Round</td><td>Status</td><td>Choice</td></tr>
    {% for v in votes: %}
      <tr bgcolor={{v[0].color}}>
        <td><a href="{{ url_for('dispute', id=v[1].dispute_id) }}">Dispute {{ v[1].dispute_id }}</a></td>
        <td>{{v[1].round_num}}</td>
        <td>{{ "Voted" if v[0].vote else "Pending"}}</td>
        <td>{{ v[0].choice }}</td>
      </tr>
    {% endfor %}
  </table>
</div>


{% endblock %}
