

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/


@font-face {
  font-family: Lato-Regular;
  src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: Lato-Bold;
  src: url('../fonts/Lato/Lato-Bold.ttf');
}

body, html {
  font-family: 'Lato-Regular', sans-serif;
}

.table-bordered td, .table-bordered th {
      border: 1.5px solid black;
}

.cursor-help {
	cursor: help;
}